/* Type your css for search result page here */

.all{
    background-color:#F2F2F2;
	color:#515151;
	font-family: 'Bahnschrift SemiBold','Arial','sans-serif';
	font-weight: 300;
	font-size: 18px;
	text-rendering: optimizeLegibility;
	min-height: 100%;
}

.all * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.btn{
	padding: 7px 9px;
	border: 2px solid #fff;
	border-radius: 25px; 
}

.p{
	margin: 40px 40px;
	font-size: 30px;
}

.filterBlock{
	background-color: #fff;
	border-radius: 5px;
	margin: 0px 20px;
	padding: 20px 40px;
	padding-right: 20px;
}	


.orange{
	color: #ED7D31;
	margin-bottom: 10px;
}

.Ash{

	color: #515151;
	text-decoration: none;

}

.Tags{
	background-color: rgb(217, 217, 217);
	display: inline-block;
	padding: 5px 5px;
	margin: 2px 2px;

}

.cross{
	text-decoration: none;
	color: #515151;
}

.Restaurants{
	float: left;
	box-sizing: inherit;
	width: 50%;
}

.resBlock{
	background-color: #fff;
	border-radius: 5px;
	display: inline-block;
	width: inherit;
	margin: 5px 20px;
	padding: 10px 20px;
	color: #515151;
}

.resImg {
	height: 100px;
	width: 100px;
}



.left{
	width: 100px;
	float: left;
}

.right{
	float: left;
	padding-left: 20px;
	font-size: 15px;
}

.large{
	font-size: 40px;
}

.small{
	font-size: 12px;
}

.medium{
	font-size: 16px;
}

.numbers{
	float: left;
	margin: 0;
	padding: 0;
}

.rating{
	float: right;
	background-color: #ED7D31;
	color: #fff;
	padding: 10px 10px;
	font-size: 25px;
	
}

.reviewCheckins{
	position: relative;
	top:55px;
	left: 50px;
	float: right;
	color: #515151;
	font-size: 12px;
	text-align: right;
}

.icons{
	float: right;
	position: relative;
	top:115px;
	left: 135px;
	float: right;
	color: orange;
}

.icon{
	color: #ED7D31;
	margin: 5px 5px;
}

.sideBlock{
	background-color: #fff;
	border-radius: 5px;
	margin: 0px 20px;
	padding: 20px 15px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 20px;
}

.nearby {
	margin-bottom: 20px;
}

.divImg{
	height: 100px;
	width: 100px;
}

.featured{
	float: left;
	padding: 5px 5px;
}

