.container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 50px 0;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}
