.row{	
	background-color: #e67e22;
	margin: 0 auto !important;
}
.nav{
	background-color: #e67e22;
	list-style: none;
	margin: 0 !important;
	padding: 0 !important;
	overflow: visible  !important;	
	padding: 10px 20px !important;
	color: #E1DEDE;
	font-size: 25px;
}

.navlist{
	margin-top: 0px !important;
	margin-left: 40px !important;
	float: right;
	cursor: pointer;
}

.navlistlink:link,
.navlistlink:visited{
	padding: 8px 0 !important;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 60%;
	border-bottom: 2px solid transperent;
	transition: border 0.2s;
}

.navlistlink:hover,
.navlistlink:active{

	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 60%;
	border-bottom: 2px solid #c15511;
}

.dropDown{
	position: relative !important;
}

.dropDownContent{
	position: absolute;
	top: 100%;
	left: 0;
	list-style: none;
	width: 130px;
	padding: 2px;
	display: none;
	z-index: 1000 !important;
}

.dropDown:hover .dropDownContent{
	display: block;
	background-color: #eb9143;
	border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
	
}

.navlink{
	float: right !important;
	color: #fff;
	font-size: 20px; 
	border-bottom: 2px solid #fff; 
		
}

.navInput{
	color: #E1DEDE;
	margin-left: -10px !important;
}

.btn{
	padding: 7px 9px !important;
	border: 2px solid #fff;
	border-radius: 25px; 
}



.bigSearch{
	width: 300px;
	margin: 1px 3px !important;
	margin-right: 10px !important;
	margin-left: 60px !important;
	padding: 7px 12px !important;
	border: 2px solid #e67e22;
	border-radius: 35px;
	border-top-right-radius: 0%;
	border-bottom-right-radius: 0%;
	font-size: 20px;
}

.smallSearch{
	width: 200px;
	margin: 1px 3px !important;
	margin-left: 0px !important;
	padding: 7px 10px !important;
	border: 2px solid #e67e22;
	border-radius: 35px;
	border-top-left-radius: 0%;
	border-bottom-left-radius: 0%;
	font-size: 20px;
}